* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0897df, #8b2424);
}

.login-container {
    width: 380px;
    background: white;
    padding: 35px;
    border-radius: 15px;
    box-shadow: chocolate;
    text-align: center;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: red;
    margin-bottom: 25px;
}

.form-box h2 {
    margin-bottom: 8px;
    color: #333;
}

.form-box > p {
    color: #777;
    margin-bottom: 20px;
}

.form-box input {
    width: 100%;
    padding: 13px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 15px;
}

.form-box input:focus {
    outline: none;
    border-color: #0897df;
}

.form-box button {
    width: 100%;
    padding: 13px;
    margin-top: 15px;
    border: none;
    border-radius: 7px;
    background: red;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.form-box button:hover {
    background: #067bb5;
}

.switch {
    margin-top: 20px;
    font-size: 14px;
}

.switch a {
    color: red;
    font-weight: bold;
    text-decoration: none;
}
#signupForm {
    display: none;
}